.button {
  box-shadow: 0px 4px 4px rgba(158, 75, 223, 0.25) !important;
  border-radius: 35px !important;
  width: 300px;
  height: 70px;
  font-size: 24px !important;
  &.primary {
    background: var(--primary);
    color: var(--white);
    &:hover {
      background: var(--primary) !important;
    }
  }
  &.secondary {
    background: var(--white);
    border: 2px solid var(--primary);
    color: var(--primary);
    &:hover {
      background: var(--white) !important;
    }
  }
}
